@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  color: white;
}

.hidden {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
}
label {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 80px;
}
.section_top {
  display: flex;
  margin-left: 85%;
}

.section_middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  margin-left: 80px;
  margin-right: 80px;
}

.section_middle_left {
  font-size: 80px;
  height: 500px;
  margin-right: 100px;
}

.section_middle_right {
  font-size: 30px;
  height: 270px;
}

.section_bottom {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 800;
}

.login-todo-form__field {
  width: 570px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: white 2px solid;
  font-size: 40px;
  padding: 3px 0;
  background: transparent;
  color: white;
}

.button {
  background: transparent;
  color: #fff;
  border: none;
  position: relative;
  height: 40px;
  font-size: 20px;
  padding: 0 5px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button:hover {
  background: #fff;
  color: #1aab8a;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: white;
  font-family: "Noto Sans", sans-serif;
}

#todo-form {
}

#todo-list {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 40px;
}

#weather {
}

#quote {
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  left: 450px;
  top: 850px;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
